
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.drake-noodles {
  background-image: url(https://media.giphy.com/media/26BRquh2xkbUvkMKc/giphy.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  width: 400px;
}
